In [1]:
import pandas as pd

### Filling the null values of datasets before importing into database

#### CovidDeaths CSV

In [2]:
df = pd.read_csv("CovidDeaths.csv", parse_dates= True)
df.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [3]:
df.fillna("\\N", inplace= True)
df.head(5)

C:\Users\Sayed Ibrahim\AppData\Local\Temp\ipykernel_6456\4135933696.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '\N' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("\\N", inplace= True)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511

In [4]:
df.to_csv("covid_deaths.csv", index= False, encoding= 'utf-8')

#### CovidVaccinations CSV

In [2]:
df = pd.read_csv("CovidVaccinations.csv", parse_dates= True)
df.head(5)

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [3]:
df.fillna("\\N", inplace= True)
df.head(5)

C:\Users\Sayed Ibrahim\AppData\Local\Temp\ipykernel_22532\4135933696.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '\N' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("\\N", inplace= True)

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,\N,\N,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,\N,\N,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,\N,\N,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,\N,\N,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,\N,\N,\N,\N,\N,\N,...,1803.987,\N,597.029,9.59,\N,\N,37.746,0.5,64.83,0.511

In [4]:
df.to_csv("covid_vaccinations.csv", index= False, encoding= 'utf-8')